body {
	margin: 3rem;
}

.light {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 7rem);
}

.flex {
	flex: 1;
	height: calc(100vh - 7rem); /* 3 rem + 4 rem text space */
	font-size: 25vmin;
}

.flex img {
	height: calc(100vh - 10rem); /* 3*2 rem + 4 rem text space */
}

.fix {
	float: clear;
}

#intersection {
	height: 4 rem;
	font-size: 3rem;
	text-align: center;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

#trafficlight {
}
