.NumberContainer{
	width: 200px;
	height: 200px;
}

.numberCircle {
  color: #676767;
  color: #898989;
  border-radius: 50%;
  border-width:8px;
  border-style:solid;
  border-color: #676767;
  height: 100%;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

